
/* ----------------- GENERAL -------------- */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    padding: 10px;
    background: url(/img/banniere.jpg) no-repeat;
    background-size: cover;
    background-position-y: -250px;
    border-radius: 10px;
}

main {
    display: flex;
    text-align: center;
}

nav {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    position: sticky;
    top: 0;

    a {
        align-content: center;
        height: 50px;
        font-family: Arial;
        font-size: 1em;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }


    a:hover {
        color: white;
        background-color: #A90331;
    }

    a:first-child:hover {
        border-radius: 8px 8px 0 0;
    }
    
    a:last-child:hover {
        border-radius: 0 0 8px 8px;
    }
}

h2 {
    font-style: italic;
}

h4 {
        text-align: start;        
        margin: 0 30px;
}

ul {
    text-align: start;
    
    li{
        margin-left: 30px;
    }
}

form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 20px;
            display: inline-flex;
            width: 200px;
            height: 30px;
        }
        
        input[type=text], input[type=email]{
            width: 80%;
            height: 30px;
        }

        textarea {
            width: 80%;
            height: 80px;
        }

        button[type=submit] {
            margin: 40px auto;
            font-size: 20px;
            height: 50px;
            width: 300px;
            border-radius: 20px;
        }

        button[type=submit]:hover {
            cursor: pointer;
        }
}


/* --------------- CLASS ---------------- */


/* H1 container for all page */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 300px;
    height: 80px;
    background: rgba(250, 221, 178, 0.75);
    border-radius: 20px;
}

/* Nav bar menu container for all page  */

.menu {
    width: 15%;
    
} 


/* content container for all page */

.container {
    width: 85%;
    margin: 10px 10px 20px 0;
    padding-bottom: 30px;
    background-color: lightgrey;
    border-radius: 10px;
    font-size: 20px;

    .container-title {
        position: relative;
        bottom: 30px;
        color: white;
        height: 50px;
        font-size: 24px;
        font-family: Arial;
        background-color: #A90331;
        border-radius: 10px 10px 0 0;

    }


    p {
        margin: 20px 30px;
        text-align: justify;
    }

    a{
        color: black;
        text-decoration: none;
    }
}


/* PAGE ACCEUIL  */
.sommaire {

    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
        margin: 20px auto;
    }
    a {
        color: #A90331;
        margin: 5px 0;
        text-decoration: none;
    }

    a:hover {
        color: black;
    }
}


/* PAGE LIEN */

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    .a, .b, .c{
        display: flex;
        flex-direction: column;
    }


    a {
        color: #A90331;
        margin: 5px 0;
        text-decoration: none;
    }
    
}


/* PAGE GALERIE */

.gal {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.img-box {
    height: 50vh;
    width: 40vw;

    img {
        border: solid 2px black;
    }
}

/* PAGE CONTACT */

.forms {

    p {
        text-align: center;
    }
    
}

.form-box {
    margin: 5px;
}

.comment {

    label{
            position: relative;
            bottom: 60px;
        }
}







